.ycs-outline-hovered {
  outline: 1px solid #ff0000 !important;
}
 
.ycs-outline-clicked {
  outline: 1px solid #0000ff !important;
}

#ycs-handler #handler .modal-dialog {
  margin: 30px auto auto 30px;
}